body{
    background-color: pink;
}
.main-content1{
    display: flex;

}
.main-content2{
    display: flex;
    
}

.main-content1 > .cont1, .cont2, .cont3{
    background-color: aquamarine;
    color: brown;
    margin: 0px 0px 2px 3px;
    padding: 4px 4px 4px 4px;
}
.main-content2 > .cont4, .cont5, .cont6{
    background-color: palevioletred;
    color: brown;
    margin: 0px 0px 2px 3px;
    padding: 4px 4px 4px 4px;
}
h3{
    position: sticky;
    top: 0;
    width: 300px ;
    border: 3px solid palevioletred;

}

h2{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    clear: both;
    border: 3px solid blue;
}
.de{
    position: relative;
}
.de img{
    position: absolute;
    top: 0px;
    width: 500px;
    height: 300px;
    z-index: -1;
}
.de p{
    margin-left: 50px 0px 30px 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
    width: 200px;
    padding: 50px 50px 25px 150px;

}

.flow{
    overflow: auto;
    background-color: palevioletred;
    color: white;
    width: 200px;
    height: 200px;
}
a:link{
    color: red;
    text-decoration: none;
}

button:hover{
    background-color: red;
    color: white;
}